@font-face {
    font-family: robotech-gp;
    src: url("../assets/fonts/robotechgp.ttf");
}

.logo {
  font-size: 48px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 4px;
  z-index: 15;
  font-family: robotech-gp, sans-serif;
  user-select: none;
  font-size: 5rem;

  position: absolute;
  top: 10%;
}
