* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

/* Rozmazane czarne krawędzie */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  box-shadow: 0 0 120px 60px rgba(0,0,0,0.9) inset;
  z-index: 5;
}

a {
  text-decoration: none;
  color: initial;
}